<div class="bg-white">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Technical Specifications</h2>
      <p class="mt-4 text-gray-500">Explore the comprehensive technical specifications for our Performance Brake Kit.
        From materials and dimensions to performance enhancements, gain in-depth insights into the engineering
        excellence.</p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Brake Disc Material</dt>
          <dd class="mt-2 text-sm text-gray-500">High Carbon Cast Iron</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Material</dt>
          <dd class="mt-2 text-sm text-gray-500">Ceramic</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Dimensions</dt>
          <dd class="mt-2 text-sm text-gray-500">13.5 inches (342 mm)</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Caliper Type</dt>
          <dd class="mt-2 text-sm text-gray-500">4-Piston Fixed Calipers.</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Performance Specifications</dt>
          <dd class="mt-2 text-sm text-gray-500">Improved Stopping Power: Up to 25% shorter stopping distances.</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Heat Dissipation</dt>
          <dd class="mt-2 text-sm text-gray-500">Enhanced heat dissipation for reduced brake fade.</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img src="./assets/img/product-feature-section-img-1.jpg"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="rounded-lg bg-gray-100">
      <img src="./assets/img/product-feature-section-img-2.jpg"
        alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100">
      <img src="./assets/img/product-feature-section-img-3.jpg"
        alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100">
      <img src="./assets/img/product-feature-section-img-4.jpg"
        alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100">
    </div>
  </div>
</div>
